@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --body-font-family: "Inter", sans-serif;
    --heading-font-family: "Inter", sans-serif;
}

body,
p,
li,
td,
th,
blockquote,
label,
input,
textarea,
select,
button,
.nav-list-item a,
.nav-list-link,
.site-title,
.site-nav,
.search-input,
.breadcrumb-nav,
.breadcrumb-nav-list-item,
.footer,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}
